@model IEnumerable<uApply.Data.Models.Location.District>


<h3 class="text-center text-dark mt-3"><i class="icon ion-md-people mr-2"></i> Districts</h3>

<div class="d-flex justify-content-end my-5">
    <a  class="btn btn-dark text-white shadow"  asp-area="Admin" asp-controller="District" asp-action="Upsert">
        <i class="icon ion-md-add-circle mr-2"></i> Add District
    </a>
</div>


<table id="parentTable" class="table table-striped table-bordered shadow" style="width:100%">
    <thead class="thead-dark">
        <tr class="table-info">
            <th>Id</th>
            <th>Name</th>
            <th>Province</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var dist in Model)
        {
            <tr>
                <td>@dist.Id</td>
                <td>@dist.Name</td>
                <td>@dist.Province.Name</td>
                <td>
                    <a  asp-area="Admin" asp-controller="District" asp-action="Upsert" asp-route-id="@dist.Id"  class="text-dark">
                        <i class="icon ion-md-create mr-2"></i>
                    </a>
               
                    <a class="text-dark">
                        <i class="icon ion-md-person mr-2"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
        function setLoggedUser(userId, role, username, profile){

            var user = {
                userId: userId,
                role: role,
                username: username,
                profile: profile
            }

            localStorage.setItem("loggedUser", JSON.stringify(user));

        }

        @Html.Raw(ViewBag.JavaScriptFunction)
    </script>

}
